@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: rgba(247, 248, 251, 1);
    --background-color-alt: rgb(234, 234, 234);
    --text-color: rgba(0, 32, 51, 0.75);
    --line-color: rgba(0, 32, 51, .05);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: rgba(57, 57, 61, 1);
        --background-color-alt: rgb(103, 103, 110);
        --text-color: rgba(255, 255, 255, 0.5);
        --line-color: rgba(255, 255, 255, 0.025);
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--background-color);
    color: var(--text-color);
}

code {
    font-family: monospace;
}

#root {
    display: contents;
}

input[type="number"] {
    appearance: none;
}

html,
body {
    height: 100%;
}

@layer components {

    .text-gradient {
        @apply bg-[linear-gradient(to_right,orange,violet)];
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .button {
        @apply px-3 py-1 border border-[var(--line-color)] rounded-xl shadow;
    }

    .input {
        @apply rounded py-1 px-2;
        @apply bg-[var(--background-color-alt)];
        @apply focus:shadow-inner focus:outline-none;
    }

    .with-drag {
        @apply before:block before:w-2 before:mr-2;
        @apply before:bg-[var(--background-color-alt)];
    }


}
.swipeable-list {
    height: auto !important;
}
